{% extends "base.html" %}
{% block title %}Register | Glossa{% endblock %}

{% block page_content %}
<section class="form-card">
    <h2>Register</h2>
    <p class="section-intro">Create an account to start building your own study dictionaries.</p>

    <form method="post" class="stack-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="button-primary">
            Create Account
        </button>
    </form>

    <p class="spaced-text">
       You already have one? <a href="{% url 'login' %}">Login here</a>
    </p>
</section>
{% endblock %}
