{% extends "base.html" %}

{% block page_content %}
<div style="max-width: 400px; margin: 0 auto; padding: 20px;">
    <h2>Register</h2>
    <p>Create new account.</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" style="margin-top: 10px; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
            Create Account
        </button>
    </form>

    <p style="margin-top: 20px;">
       You already have one? <a href="{% url 'login' %}">Login here</a>
    </p>
</div>
{% endblock %}